*{
    box-sizing: border-box;
}


body{
    direction: rtl;
    text-align: right;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

}

main{
    display: flex;
    flex-direction: column;
}

a{
    color:white;
}

ul{
    padding: 0;
}

header{
display: flex;
flex-direction:column;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
height: 105px;
background-image: linear-gradient(to top, #b2b3b7, #adadb0, #a8a8aa, #a2a2a3, #9d9d9d);color:white;
justify-content: center;
padding-top: 10px;

}

header a{
        text-decoration: none;
}

#header-top{
    display:flex;
    justify-content: flex-end;
    margin: 0 auto ;
    padding: 30px 0 0 0;
    width: 900px;
    font-size:12px;
}

#eng{
    margin:11px;
}

#header-bottom{
    display: flex;
    /*margin:0 auto;*/
    justify-content: center;
    
}


nav ul{
    display: flex;
    justify-content: center;   
}
  
nav li{
    list-style-type:none;
    padding:0.5rem;

}

nav .hidden ul{
    background-image: linear-gradient(to top, #b2b3b7, #adadb0, #a8a8aa, #a2a2a3, #9d9d9d);color:white;
    position: absolute;
    z-index: 100;
    display: none;

}

.dropdown:hover .hidden ul{
    display: block;
    box-shadow: 5px 10px #888888;
}


#search-box input[type=text]{
        padding:3px;
        border: none;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: -internal-light-dark(black, white);
        border-top-right-radius:10px;
        width:126px;
      }

input{
    color: -internal-light-dark(black, white);
}

#sections{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}


.img-cube img{
    display: flex;
    height: 355px;
    width: 293px;
    margin:30px 12px 20px 0px;
    border-bottom-right-radius: 25px ;
    

}

.img-cube{
    position: relative;
}

.img-text{
    background-color: #9d9d9d;
    opacity: 0.9;
    width: 258px;
    height:107px;
    border-bottom-right-radius: 25px ;
    position: absolute;
    bottom: 25px;
    right:20px;
    padding: 0px 10px 5px 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    
    

    
}


.img-text p{
    margin: 4px 0px 0px;
}

.img-text h3{
    font-size: 14px;
    padding: 0px;
    margin: 6px 0px 0px;
    
}

.left{
    text-align: left;

}



#info{
    display: flex;
    font-size: 13px;
    color:#575757;
    justify-content: center;


}

.info-cube{
    width: 293px;
    height: 216px;
    border-color: rgb(214,213,219);
    border-color: linear-gradient(180deg, rgba(214,213,219,1) 3%, rgba(246,246,250,1) 44%, rgba(255,255,255,1) 72%);
    border: solid 1px #c7c4c4;
    margin:0px 12px 0px 0px;
    padding: 0px 10px 0px 10px;
    border-top-right-radius: 25px ;
    background: linear-gradient(0deg, rgba(214,213,219,1) 3%, rgba(246,246,250,1) 44%, rgba(255,255,255,1) 72%);
    display: flex;
    flex-direction: column;
    position:relative;
}



.info-cube h3{
    
    font-size: 14px;
    padding-right: 10.5px;
    border-bottom: solid 1px rgb(228, 227, 231);
    ;
    padding-bottom: 10px;
}

.info-cube a{
    position: relative;
    top: 15px;
}

#regions a{
    display: block;
    padding:1.3px;
}

#map{
    position: relative;
}

#map img{
    position: absolute;
    top:40px;
    left:20px;
}

.info-cube img{
    margin:0 auto;
}

.info-cube a{
    color:#575757;
    text-decoration: underline;

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 38px;
    background-image: linear-gradient(to bottom, #b2b3b7, #adadb0, #a8a8aa, #a2a2a3, #9d9d9d);
    color:white;
    position: fixed;
    width:100%;
    bottom: 0;

}

footer ul {
    display:flex;
    justify-content: center;   
}

footer li{
    list-style-type:none;
    padding:0.2rem;
}




